<% if (locals.channel) { %>
  <!-- Container for channel information -->
  <div class="container my-4">
    <!-- Card for channel information -->
    <div class="card shadow-sm rounded bg-light dark-mode-target">
      <!-- Card header -->
      <div class="card-header">
        <h5 class="card-title">Channel Information</h5>
      </div>
      <!-- Body of the card -->
      <div class="card-body">
        <!-- Grid layout for details -->
        <div class="row">
          <!-- Channel name -->
          <div class="col-md-6 mb-3">
            <p class="card-text"><strong>Name:</strong>
              <%= channel.name %>
            </p>
          </div>
          <!-- Number of subscribers -->
          <div class="col-md-6 mb-3">
            <p class="card-text"><strong>Subscribers:</strong>
              <%= channel.subscribers %>
            </p>
          </div>
        </div>
        <div class="row">
          <!-- Channel description -->
          <div class="col">
            <p class="card-text"><strong>Description:</strong>
              <%= channel.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>