<% if (locals.channel) { %>
  <!-- Contenitore delle informazioni del canale -->
  <div class="container my-4">
    <!-- Card per le informazioni del canale -->
    <div class="card shadow-sm rounded bg-light dark-mode-target">
      <!-- Intestazione della card -->
      <div class="card-header">
        <h5 class="card-title">Informazioni sul Canale</h5>
      </div>
      <!-- Corpo della card -->
      <div class="card-body">
        <!-- Layout a griglia per i dettagli -->
        <div class="row">
          <!-- Nome del canale -->
          <div class="col-md-6 mb-3">
            <p class="card-text"><strong>Nome:</strong>
              <%= channel.name %>
            </p>
          </div>
          <!-- Numero di iscritti -->
          <div class="col-md-6 mb-3">
            <p class="card-text"><strong>Iscritti:</strong>
              <%= channel.subscribers %>
            </p>
          </div>
        </div>
        <div class="row">
          <!-- Descrizione del canale -->
          <div class="col">
            <p class="card-text"><strong>Descrizione:</strong>
              <%= channel.description %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>